<div class="navbar navbar-dark bg-dark box-shadow">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand d-flex align-items-center">
      <i class="fa-solid fa-book-open-reader" style="color: white"></i>
      <strong class="ps-2">Book Gallery</strong>
    </a>
    <button
      class="navbar-toggler collapsed"
      data-bs-toggle="collapse"
      data-bs-target="#header"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>

<div class="bg-dark collapse" id="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-7 py-4">
        <h4 class="text-white">About</h4>
        <p class="text-white">
          I am passionate about literature and I believe that books have the
          power to transform us. In this space, I share with you my literary
          collection. Reading is an essential part of my life, and I want to
          share this passion with everyone who also loves getting lost in good
          stories. Here, you will find not only the books I have, but also
          quotes from them.
        </p>
      </div>
      <div class="col-sm-4 offset-md-1 py-4">
        <h4 class="text-white">Contato</h4>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-white">Skoob</a>
          </li>
          <li>
            <a href="#" class="text-white">Instagram</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
