section.bg-light {
    background-color: #fff;
    padding: 5rem 0;
}

section.bg-light h1 {
    font-size: 3rem;
    color: #333;
}

section.bg-light p.lead {
    font-size: 1.25rem; 
    color: #6c757d;
    margin-top: 1rem;
}
